<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%yellow(%date) %highlight(%-5level) %cyan(%logger{32}) - %msg%n</pattern>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
  </root>

  <logger name="de.choffmeister.dochub.data.ExtendedPostgresProfile" level="WARN"/>
</configuration>
